PORT=3000
DATABASE_URL="postgresql://postgres.jmyicxpwbjvsuhdeuyde:7AMZA5anfara@aws-1-eu-west-3.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.jmyicxpwbjvsuhdeuyde:7AMZA5anfara@aws-1-eu-west-3.pooler.supabase.com:5432/postgres"
SUPABASE_URL=https://jmyicxpwbjvsuhdeuyde.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpteWljeHB3Ymp2c3VoZGV1eWRlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcxOTAwOTgsImV4cCI6MjA5Mjc2NjA5OH0.rFcireiu1cLcC-dJDRCyYq4dgDmkXtfgRpVSNIIoAV4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpteWljeHB3Ymp2c3VoZGV1eWRlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzE5MDA5OCwiZXhwIjoyMDkyNzY2MDk4fQ.NzEiKBYkSqP_JrjxzJNv3E3lzzgG9Z04U_c9F4KlLmw
